@font-face {
    font-family: "Lora";
    src: url("font/Lora-Regular.ttf");
}
@font-face {
    font-family: "CormorantGaramond";
    src: url("font/CormorantGaramond-Regular.ttf");
}
body {
    margin: 0px;
    background-color: #F4F6FC;
}
h1 {
    text-align: center;
    font-family: "CormorantGaramond", serif;
	margin-top: 10px;
    color: #342935;
    font-size: 2.5em;
}
h2 {
    font-family: 'Cinzel', serif;
    margin-left: 5px;
    margin-bottom: -3px;
    color: #342935;
}
#main {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
}
#footer {
    color: #342935;
    font-family: "CormorantGaramond", serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #F4F6FC;
    opacity: 0.85;
}
.clearfloat {
    clear: both;
}
.img-container { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    float: left;
    margin: 5px;
    background-color: #CCC;
    overflow: hidden;
}
.img-container img {
    height: 250px;
    margin-left: auto;
    margin-right: auto;
}
.img-container1 { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 425px;
    float: left;
    margin: 5px;
    background-color: #CCC;
    overflow: hidden;
}
.img-container1 img {
    height: 425px;
    margin-left: auto;
    margin-right: auto;
}
.half {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 510px;
    height: 325px;
    float: left;
    margin: 5px;
    background-color: #CCC;
    overflow: hidden;
}
.half img {
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}
#vertical img{
    width: 250px;
    height: auto;
}